<div [formGroup]="formGroup">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput placeholder="name" value="" formControlName="name" />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Surname</mat-label>
    <input matInput placeholder="surname" value="" formControlName="surname" />
  </mat-form-field>

  <h4>Basic mat-select</h4>
  <mat-form-field appearance="fill">
    <mat-label>colors</mat-label>
    <mat-select formControlName="color">
      <mat-option *ngFor="let color of colors" [value]="color">
        {{ color }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-button color="accent" (click)="reset()">reset</button>
  <button mat-button color="accent" (click)="add()">Add Item</button>
</div>
